[Desktop Entry]
Name=eva
GenericName=Gemini Browser
Comment=Browse the plain-text Internet.
Categories=Network;GTK;
Icon=eva
Exec=eva %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/gemini;x-scheme-handler/gopher;
